body {
    background-color: #e9ebee;
}
table {
    background-color: #fff;
}
a:hover {
    color: #ff8800;
}
tr:hover {
    background-color: #95e9e0;
}
img:hover {
    transform: scale(2.5);
}
@media only screen and (max-width: 900px) {
    body {
        background-color: rgb(235, 79, 79);
    }
}